/*
font-family: 'Roboto Condensed', sans-serif;

<i class="fad fa-window-minimize"></i>

*/

:root{
    --turquesa:#2AC0FA ;
    --fucsia:#FF3399;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/*----------------------------------------------------CONTENEDOR----------------------------------------------------*/

.contenedor{
    width: 90%;
    margin: auto;
}

/*----------------------------------------------------MENU----------------------------------------------------*/

.header{
    width: 100%;
    height: 70px;
    background-color: #1D2027;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: #1D2027;
    align-items: center;
}
.corchete{
    color: #47D1F9;
    font-size: 40px;

}
.menu .logo{
    font-size: 30px;
    text-transform: uppercase;
    color: #47D1F9;
    font-weight: normal;
    padding:12px;
}

.nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 15px;
     font-family: 'Roboto Condensed', sans-serif; 
}

.nav a:hover{
    color: #ccc;
}

/*----------------------------------------------------HOME----------------------------------------------------*/

.home{
    background: url(../img/2.png);
    width: 100%;
    height: 100vh;
    display: flex;
}

.home h3{
    font-size: 60px;
    color: #fff;
    position: absolute;
    width: 877px;
    height: 214px;
    left: 112px;
    top: 200px;
}

.home img{
    position: absolute;
    width: 432px;
    height: 325px;
    left: 850px;
    top: 140px;
}

.home-informacion{
    width: 100%;
    height: 100%;
    background: url(../img/3.png);
    background-attachment: fixed;
}

.home-informacion__parrafos{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.home-informacion__parrafos h3{
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
}

.home-informacion__parrafos p{
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.home-informacion__parrafos p a{
    color: #fff;
}
.home-informacion__parrafos p a:hover{
    color: #ccc;
}


.btn{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 600px;
    top: 550px;
    background: #0F57A4;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    padding: 15px;
}

.btn:hover{
    background-color: #08305a;
}

.btn-contacto{
    position: fixed;
    left: 360px;
    top: 350px;
}

.btn-contacto img{
    width: 80px;
    height: 80px;
}



/*----------------------------------------------------SERVICIOS----------------------------------------------------*/

.servicios{
    background: url(../img/servicios00.png);
    width: 100%;
    height: 100vh;
}

.servicios__titulo{
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
    padding: 60px;
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.servicios__cajas{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.servicios__cajas .servicios__cajas__caja{
    width: 30%;
    height: 220px;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicios__cajas .servicios__cajas__caja img{
    width: 75%;
    height: 100%;
    cursor: pointer;
}
.servicios__cajas .servicios__cajas__caja span{
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.servicios__subtitulo{
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
    margin-top: 180px;
    font-size: 25px;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.informacion{
    background: url(../img/background03.png);
    width: 100%;
    height: 100vh;
}

.informacion .informacion__contenido{
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 30px;
    background: #ccc;
    opacity: .5;
    border-radius: 30px;
}

.informacion__contenido h4{
    text-align: center;
    font-size: 35px;
    color: #242831;
}
.informacion__contenido p{
    text-align: center;
    font-size: 18px;
}
.informacion__contenido h4{
    margin: 10px;
}
.informacion__contenido p a{
    text-decoration:none;
    color: #fff;
} 
.informacion__contenido p a:hover{
    text-decoration: underline;
    color: black;
}

.informacion_btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 35px;
    padding: 20px;
    color: #fff;
    background-color: #08305a;
    border-radius: 100px;
}
a.informacion_btn:hover {
    background-color: #2AC0FA;
}
/*GRACIAS
portfolio.svg
ecommerce.svg
landingPage.svg 
*/
/*----------------------------------------------------OVERLAY----------------------------------------------------*/

.info_bloque{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0 , 0,.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info_bloque.activo{
    display: flex;
}

.info_bloque img{
    max-width: 100%;
    height: 200px;
}

.info_bloque .info_bloque__descripcion{
    display: block;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}

.info_bloque__contenedor-img{
    position: relative;
}
.info_bloque #btn-cerrar-popup{
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

.info_bloque__descripcion{
    font-family:'Nunito', sans-serif; 
    text-align:center;
}

/*--------------------------------------------PREGUNTAS FRECUENTES------------------------------------------*/
.FrequentQuestions{
    background: url(../img/background03.png);
    background-attachment: fixed;
    width: 100%;
    height: 200vh;
    color:white;
    font-family: 'PT Sans', sans-serif;
}


#FrequentQuestions i{
    cursor: pointer;
}
.FrequentQuestions_title{
   padding-top:30px;
   text-align: center;
   padding-bottom:30px;
}

.FrequentQuestions_title p:first-child{
    font-size: 50px;
}

.fa-plus{
    font-size: 25px;
    padding-left: 10px;
}

.Onequestion{
    font-size: 25px;
    width: 90%;
    padding-bottom:20px;
}


.cardInstructions{
    display: flex;
    padding-top:25px;
    width: 100%;
    height: 350px;
    transition: 5s;
}

.cardInstructions .cardsInstructions_card1,
.cardInstructions .cardsInstructions_card2,
.cardInstructions .cardsInstructions_card3,
.cardInstructions .cardsInstructions_card4{
    width: 30%;
    height: 100%;
    border: solid 1px var(--turquesa);
    border-radius:10%;
    padding-left: 10px;
    margin-right:7px;
}

.cardInstructions .cardsInstructions_card1 .cardsInstructions_card__description img{
    width: 100%;
    height: 100%;
}
.cardInstructions .cardsInstructions_card2 .cardsInstructions_card__description img{
    width: 50%;
    height: 100%;
}
.cardInstructions .cardsInstructions_card3 .cardsInstructions_card__description img{
    width: 95%;
    height: 80%;
}
.cardInstructions .cardsInstructions_card4 .cardsInstructions_card__description img{
    width: 70%;
    height: 100%;
}

.cardsInstructions_card__p{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
}

.cardsInstructions_card__description{
    text-align: center;
    font-size: 15px;
}

.hidden-description{
    display: none;
}

.orderQuestions{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.response{
    padding: 20px 10px;
}
/*----------------------------------------------------CONTACTO----------------------------------------------------*/

.contact{
    background: url(../img/background05.png);
    width: 100%;
    height: 100vh;
}

.contact_title{
    color:white;
    text-align:center;
    padding:40px;
}

.contact_title p:first-child{
    font-size:40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contact_title p:last-child{
    font-size:20px;
    margin-top:10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contact_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact_formContainer{
    display: flex;
    width:50%;
    height: 300px;
}

.lbl{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
    position: relative;
    bottom:-30px;
    transition: .5s;
}

.lblActivo{
    bottom: 0px;
    font-size: 17px;
    transition: .5s;
}

form input{
    display:block;
    box-sizing: border-box;
    font: inherit;
    line-height: normal; 
    width: 100%;
    padding:10px 18px;
    border-bottom: 2px solid var(--turquesa); 
    background: transparent;
    border: 0;
    outline:none;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

form input[type=text]{
    border-bottom: 2px solid var(--turquesa);
}
form input[type=email]{
    border-bottom: 2px solid var(--turquesa);
}

form textarea{
    display:block;
    resize: none;
    background: transparent;
    outline:none; 
    border: 0;
    border-bottom: 2px solid var(--turquesa);
    padding:30px 40px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}


.btn-contac{
    width:100%;
	height:40px;
	padding:5px;
    color:white;
    letter-spacing: 4px;
    text-transform: uppercase;
	font: bold 16px consolas, sans-serif;
	padding:6px;
    /* border-radius: 24px; */
    margin-top:40px;
}

.btn-contac:hover{
	color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    cursor: pointer;
}

.contact_socialNetworks{
    width: 20%;
    height:450px;
}
.contact_socialNetworks td{
    display: block;
    text-align: center;
}

.contact_socialNetworks i{
	width: 60px;
 	height: 60px;
 	font-size: 40px;
 	line-height: 1.6;
 	margin-bottom:30px;
	text-align: center;
	color:white;
	background-color: #4EB5A6;
	display:block;
	border-radius: 50%;
	-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
}

.contact_socialNetworks i:hover{
    width: 65px;
    height: 65px;
}

td i:hover{
    background-color: var(--turquesa);
}
/*----------------------------------------------------TRABAJOS  ----------------------------------------------------*/

.trabajos{
    width: 100%;
    height: 200vh;
    background: url(../img/background00.png);
    background-attachment: fixed;
}

.trabajos__titulo{
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
    padding: 60px;
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.trabajos__carousel{
    width: 100%;
    height: 320px;
    display: flex;
}

.trabajos__carousel .trabajos__carousel__work{
    width: 30%;
    height: 100%;
    background: #ccc;
    margin: 12px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    display: flex;
    align-items: center;
}

.trabajos__carousel .trabajos__carousel__work img{
    width: 95%;
    margin: auto;
    border: 3px solid #000;
}



/*----------------------------------------------------FOOTER----------------------------------------------------*/

footer{
    background-color: #1D2027;
    color:white;
    height: 8%;
    display: flex;
    justify-content: space-between;
}
footer p{
    padding-top:15px;
    width: 40%;
    align-self: center;
}

footer div{
    padding-top:15px;
    width: 30%;
    display: flex;  
}

.footer__redes i{
    width: 30px;
 	height: 30px;
    font-size: 30px;
    margin:10px;
}

.footer__redes i:hover{
    color:var(--fucsia);
    font-size: 34px;
}

/*----------------------------------------------------MEDIATABLES----------------------------------------------------*/

@media (max-width:768px){
    /*----------------------------------------------------MENU----------------------------------------------------*/
    .logo{
        display: none;
    }
    .menu{
        justify-content: center;
        align-items: center;
        display: flex;
        padding-top: 20px;
    }
    /*----------------------------------------------------INICIO----------------------------------------------------*/

    .home{
        background-position: center;
        width: 100%;
    }

    .home h3{
        font-size: 40px;
        width: 75px;
        height: 200px;
        left: 80px;
    }
    .home img{
        height: 200px;
        left: 420px;
    }
    .btn{
        left: 300px;
    }

    .btn-contacto{
        display: none;
    }
    /*------------------------------------------------TRABAJOS----------------------------------------------------*/

    .trabajos__carousel{
        height: 200px;
    }

    /*----------------------------------------PREGUNTAS FRECUENTES----------------------------------------------------*/

    .cardInstructions{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        transition: 5s;
    }

    .cardInstructions .cardsInstructions_card1,
    .cardInstructions .cardsInstructions_card2,
    .cardInstructions .cardsInstructions_card3,
    .cardInstructions .cardsInstructions_card4{
        width: 45%;
        height: 50%;
    }
    .hidden-description{
        display: none;
    }
    .cardsInstructions_card__description{
        font-size: 13px;
    }
    .cardInstructions .cardsInstructions_card1 .cardsInstructions_card__description img{
        width: 70%;
    }
    .cardInstructions .cardsInstructions_card2 .cardsInstructions_card__description img{
        width: 40%;
    }
    .cardInstructions .cardsInstructions_card3 .cardsInstructions_card__description img{
        width: 65%;
    }
    .cardInstructions .cardsInstructions_card4 .cardsInstructions_card__description img{
        width: 65%;
    }
}